$width-mobile:375px;
$width-desktop: 1440px;

$color-primary-blue: hsl(238, 29%, 16%);
$color-primary-red: hsl(14, 88%, 65%);

$color-gradient-violet: hsl(273, 75%, 66%);
$color-gradient-blue: hsl(240, 73%, 65%);

$color-neutral-text-blue1: hsl(237, 12%, 33%);
$color-neutral-text-blue2: hsl(240, 6%, 50%);
$color-neutral-divider-blue: hsl(240, 5%, 91%);

$font-size: 12px;
$font-family: 'Kumbh Sans', sans-serif;
// $font-weights: 400, 700;
