@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html,body, p{
  font-family: $font-family;
  line-height: 1.5em;
  font-size: 1em;
  font-weight:400;
}

h1,h2,h3,h4,h5,h6{ 
  font-family: $font-family;
  font-weight:700;
}